p{
    font-family: Roboto,Arial;
    margin-top: 0px;
    margin-bottom: 0px;
}
body{
    margin:0px;
    padding-top: 70px;
    padding-left: 100px;
    padding-right: 20px;
    background-color: rgb(246, 246, 246);
} 
