body{
    font-family: Open Sans, Arial;
    margin-top:46px;
}
p{
    margin-top: 0px;
    margin-bottom: 0px;
}

.copyright{
    background-color: rgb(245,245,245);
    font-size: 8px;
    padding:3px 2px;
    display: flex;
    position: absolute;
    left:0px;
    right:0px;
    justify-content: space-between;
    vertical-align: top;
}